<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMPORTAINER</title>
</head>
<body>
    <p>Bienvenido a IMPORTAINER</p>
    {{{body}}} 
    {{!-- //renderizo cada una de las view que le pasemos del servidor dentro de body --}}
    <p>fin Layout</p>
</body>
</html>