<h1>socketClientVist</h1>
<form id="form">
    <label>Title</label><input type="text" name="title" id="title">
    <label>Description</label><input type="text" name="description" id="description">
    <label>code</label><input type="number" name="code" id="code">
    <label>price</label><input type="number" name="price" id="price">
    <label>stock</label><input type="number" name="stock" id="stock">
    <input type="submit" value="SEND">
</form>


<p id="products"></p>
<p id="message"></p>

<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>